<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAFEAPP</title>
</head>
<body>
    {% extends 'adm_navbar.html' %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Usuarios Penalizados</h1>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido Paterno</th>
                                <th scope="col">Apellido Materno</th>
                                <th scope="col">Matrícula</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Fecha Penalización</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Juan</td>
                                <td>Pérez</td>
                                <td>Gómez</td>
                                <td>12345</td>
                                <td>juan@example.com</td>
                                <td>2023-06-15</td>
                                <td>
                                    <button class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                            <tr>
                                <td>María</td>
                                <td>López</td>
                                <td>Rodríguez</td>
                                <td>67890</td>
                                <td>maria@example.com</td>
                                <td>2023-06-20</td>
                                <td>
                                    <button class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                            <!-- Agrega más filas según sea necesario -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    {% endblock %}
</body>
</html>
