<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAFEAPP</title>
</head>
<body>
    {% extends 'usr_navbar.html' %}
    {% block content %}
        
        <div class="cotn_principal">
            <div class="cont_centrar">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Fecha Pedido</th>
                                        <th scope="col">Total Pedido</th>
                                        <th scope="col">Estatus Pedido</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2023-06-01</td>
                                        <td>$15.99</td>
                                        <td>Pendiente</td>
                                    </tr>
                                    <tr>
                                        <td>2023-06-02</td>
                                        <td>$8.49</td>
                                        <td>Entregado</td>
                                    </tr>
                                    <tr>
                                        <td>2023-06-03</td>
                                        <td>$12.99</td>
                                        <td>En proceso</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    {% endblock %}
</body>
</html>
